<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Wearher error</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="weather-report">
        <p>Произошла ошибка попробуйте ещё раз позже. Или не пробуйте. <%= @error %></p>
    </div>
</body>
</html>