body, html {
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Изменено с center на flex-start */
  height: 100vh;
  padding-top: 400px; /* Добавлен верхний паддинг, чтобы отодвинуть контент от верха */
}

.weather-report, .weather-forecast {
  width: 100%;
  max-width: 720px;
  margin: 10px auto;
}

.weather-report {
  background: #333; /* Изменено на темный фон */
  color: #fff; /* Белый текст */
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-forecast {
  display: flex; /* Изменено с grid на flex для линейного расположения */
  flex-wrap: wrap; /* Обеспечивает перенос элементов */
  justify-content: center; /* Центрирование элементов по горизонтали */
  gap: 15px;
  margin-bottom: 50px; /* Добавлен нижний маржин для отступа от следующего контента */
}

.weather-forecast-item {
  background: #333; /* Темный фон, как у weather-report */
  color: #fff; /* Белый текст */
  padding: 10px;
  text-align: center;
  border-radius: 8px; /* Добавлены скругленные углы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto; /* Установлена фиксированная ширина для каждого элемента */
  flex: 1;
}

/* Оставшиеся стили остаются без изменений */

form {
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=date] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type=submit] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0056b3;
}


.time {
  font-size: 0.85em;
  margin-bottom: 0.5em;
}

.icon {
  background-size: cover;
  height: 40px; 
  width: 40px; 
  margin: 0 auto 0.5em auto;
}


.icon[data-weather="cloudy"] {
  background-image: url('imeges/cloudy.png'); 
}

.icon[data-weather="rain"] {
  background-image: url('imeges/rain.png'); 
}
.icon[data-weather="rain-snow"] {
  background-image: url('imeges/rain-snow.png'); 
}
.icon[data-weather="snow"] {
  background-image: url('imeges/snow.png'); 
}
.icon[data-weather="clear-day"] {
  background-image: url('imeges/clear-day.png'); 
}
.icon[data-weather="clear-night"] {
  background-image: url('imeges/clear-night.png'); 
}
.icon[data-weather="partly-cloudy-day"] {
  background-image: url('imeges/partly-cloudy-day.png'); 
}
.icon[data-weather="partly-cloudy-night"] {
  background-image: url('imeges/partly-cloudy-night.png'); 
}
.icon[data-weather="fog"] {
  background-image: url('imeges/fog.png'); 
}
.temperature {
  font-size: 1em;
  font-weight: bold;
}
